<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Mackerel_Download_Manager.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    <userSettings>
        <Mackerel_Download_Manager.Properties.Settings>
            <setting name="FileNameColumnWidth" serializeAs="String">
                <value>282</value>
            </setting>
            <setting name="SizeColumnWidth" serializeAs="String">
                <value>103</value>
            </setting>
            <setting name="TimeLeftColumnWidth" serializeAs="String">
                <value>96</value>
            </setting>
            <setting name="TransferRateColumnWidth" serializeAs="String">
                <value>96</value>
            </setting>
            <setting name="DateAddedColumnWidth" serializeAs="String">
                <value>132</value>
            </setting>
            <setting name="LastTryDateColumnWidth" serializeAs="String">
                <value>132</value>
            </setting>
            <setting name="SaveToColumnWidth" serializeAs="String">
                <value>380</value>
            </setting>
            <setting name="QColumnWidth" serializeAs="String">
                <value>22</value>
            </setting>
            <setting name="DescriptionColumnWidth" serializeAs="String">
                <value>261</value>
            </setting>
            <setting name="DownloadDirectory" serializeAs="String">
                <value>%USERPROFILE%\Downloads\</value>
            </setting>
            <setting name="StatusColumnWidth" serializeAs="String">
                <value>99</value>
            </setting>
            <setting name="RememberPath" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="DisplayDialogforIncompleteDeletions" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="DisplayDialogforCompletedDeletions" serializeAs="String">
                <value>True</value>
            </setting>
        </Mackerel_Download_Manager.Properties.Settings>
    </userSettings>
</configuration>